%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Fonts

$primary-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Raleway', sans-serif;

$accent-color: #ff6c00;
$primary-title-color: #303030;
$primary-text-color: #555555;
$secondary-text-color: #9da4bd;
$special-text-color: rgba(157, 164, 189, 0.6);
