.slider-item {
  position: relative;
  min-height: 580px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.slider1 {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('./../images/header-bg-img/Slider-3-mob.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-3-mob@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-3-mob@3x.jpg');
    }
  }

  &.slider2 {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('./../images/header-bg-img/Slider-2-mob.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-2-mob@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-2-mob@3x.jpg');
    }
  }
  &.slider3 {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('./../images/header-bg-img/Slider-1-mob.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-1-mob@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-1-mob@3x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 680px;

    &.slider1 {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-3-tab.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-3-tab@2x.jpg');
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-3-tab@3x.jpg');
      }
    }

    &.slider2 {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-2-tab.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-2-tab@2x.jpg');
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-2-tab@3x.jpg');
      }
    }

    &.slider3 {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-1-tab.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-1-tab@2x.jpg');
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-1-tab@3x.jpg');
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &.slider1 {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-3.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-3@2x.jpg');
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-3@3x.jpg');
      }
    }
    &.slider2 {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-2.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-2@2x.jpg');
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-2@3x.jpg');
      }
    }
    &.slider3 {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url('./../images/header-bg-img/Slider-1.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-1@2x.jpg');
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
          url('./../images/header-bg-img/Slider-1@3x.jpg');
      }
    }
  }
}

.slider-navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 6;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
  }
  @media screen and (min-width: 1200px) {
    right: 55px;
  }
}

.button-slider {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 60px;
    padding-bottom: 8px;
    border-bottom: 1px solid $special-text-color;
    color: $special-text-color;
    width: 60px;
    cursor: pointer;
    transition: color 250ms ease;

    &:hover,
    &:focus {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }

    &:first-child {
      padding-right: 22px;
      margin-right: 26px;
    }
    &:last-child {
      padding-left: 13px;
      text-align: right;
    }
  }
}

.slider .slick-dots {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    right: 40px;
    z-index: 6;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18px;
    height: 30px;
    cursor: pointer;
    margin: -4px 0;
  }
  @media screen and (min-width: 1200px) {
    right: 55px;
  }
}

.slider .slick-dots button {
  width: 8px;
  height: 2px;
  background: $secondary-text-color;
  border: none;
  outline: none;
  padding: 0;
  margin: 4px 0;
  font-size: 0;
  margin: 6px 0;
  // margin-bottom: 12px;
  // &:nth-child(1),
  // &:nth-child(2) {
  //   margin-bottom: 12px;
  // }
}

.slider .slick-dots li {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin: 0;
    padding: 0;

    &.slick-active {
      margin: 4px 0;
    }
  }
}

.slider .slick-dots .slick-active button {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 18px;
    background: #ffffff;
  }
}
