<section id="about-us" class="container">
  <div class="container-about">
    <div class="about-picture">
      <picture>
        <source srcset="./images/about3.jpg" media="(min-width: 1200px)" />
        <source srcset="./images/about1.jpg" media="(max-width: 768px)" />
        <img src="./images/about1.jpg" alt="Борода" />
      </picture>
      <picture>
        <source srcset="./images/about4.jpg" media="(min-width: 1200px)" />
        <source srcset="./images/about2.jpg" media="(max-width: 768px)" />
        <img src="./images/about2.jpg" alt="Борода" />
      </picture>
    </div>
    <div class="about-content">
      <p class="about-subtitle">О НАС</p>
      <h3 class="about-title">
        Лучший Барбершоп <br />
        твоего города
      </h3>
      <p class="about-text">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="about-desc">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <a href="#booking" class="about-button">онлайн-запись</a>
    </div>
  </div>
</section>