<section class="advantages-section">
    <h3 class="advantages-header">cтарая традиционная школа</h3>
    <strong class="advantages-title">Почему приходят именно к нам?</strong>
    <p class="advantages-descriptopn">О нас говорят только хорошее. Но лучше
        1 раз увидеть и прочувствовать, чем 10 раз прочитать.</p>

    <ul class="advantages-list">
        <li class="advantages-item">
            <p class="achievements">600<sup>+</sup><span class="achievements-description">Довольных клиентов в
                    день</span>
            </p>
        </li>
        <li class="advantages-item">
            <p class="achievements">50<sup>+</sup><span class="achievements-description">Наград за отличный сервис</p>
        </li>
        <li class="advantages-item">
            <p class="achievements">20<sup>+</sup><span class="achievements-description">Лучших мастеров Киева</span>
            </p>
        </li>
        <li class="advantages-item">
            <p class="achievements">100<sup>+</sup><span class="achievements-description">Подарков постоянным
                    клиентам</span></p>
        </li>
    </ul>
</section>