<section class="advantages-section">

  <div class="container advantages-container">
    <div class="advantages-header-container">
      <p class="advantages-header">cтарая традиционная школа</p>
      <h3 class="advantages-title">Почему приходят именно к нам?</h3>
      <p class="advantages-description">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>

    <div class="advantages-list">
      <ul class="advantages-list1">
        <li class="advantages-item">
          <p class="achievements">
            600<sup>+</sup><br /><span class="achievements-description"
              >Довольных клиентов <br />
              в день</span
            >
          </p>
        </li>
        <li class="advantages-item">
          <p class="achievements">
            20<sup>+</sup><br /><span class="achievements-description"
              >Лучших мастеров
              <br />
              Киева</span
            >
          </p>
        </li>
      </ul>
      <ul class="advantages-list2">
        <li class="advantages-item">
          <p class="achievements">
            50<sup>+</sup><br /><span class="achievements-description"
              >Наград за отличный
              <br />
              сервис
            </span>
          </p>
        </li>
        <li class="advantages-item">
          <p class="achievements">
            100<sup>+</sup><br /><span class="achievements-description"
              >Подарков постоянным <br />
              клиентам</span
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

