<!--page-header-->

<header class="page-header-main">
  <div class="page-header-wraper">
    <div class="page-header">
      <div class="slider-header">
        <ul class="slider">
          <li class="slider-item slider1"></li>
          <!-- <li class="slider-item slider2"></li>
          <li class="slider-item slider3"></li> -->
        </ul>
      </div>

      <svg class="icon-navigation">
        <use
          href="./images/sprite-icon.svg#icon-nav"
          width="18"
          height="30"
        ></use>
      </svg>

      <div class="slider-navigation">
        <a class="button-slider prev">Назад</a>
        <a class="button-slider next">Вперед</a>
      </div>

      <div class="page-header-inner">
        <!--page-nav-->
        <nav class="page-nav">
          <a class="logo" href="./index.html">
            <svg class="logo-img">
              <use
                href="./images/sprite-icon.svg#icon-logo"
                width="69"
                height="55.5"
              ></use>
            </svg>
          </a>

          <!-- nav-menu -->

          <div class="overlay" id="nav-menu" data-menu>
            <div class="nav-menu-wrapper">
              <div class="nav-menu">
                <ul class="page-nav-list">
                  <li class="page-nav-item">
                    <a class="page-nav-link" href="#about-us">О нас</a>
                  </li>
                  <li class="page-nav-item">
                    <a class="page-nav-link" href="#price">Услуги и цены</a>
                  </li>
                  <li class="page-nav-item">
                    <a class="page-nav-link" href="#team">Мастера</a>
                  </li>
                  <li class="page-nav-item">
                    <a class="page-nav-link" href="#contacts">Контакты</a>
                  </li>
                </ul>

                <!--Contacts-->
                <ul class="nav-contacts">
                  <li class="nav-contacts-item">
                    <a class="nav-contacts-tel" href="tel:+380441111111"
                      >+38 044 111 11 11</a
                    >
                  </li>
                  <li class="nav-contacts-item">
                    <a class="nav-contacts-button" href="#booking"
                      >онлайн-запись</a
                    >
                  </li>
                </ul>

                <!--header-social-->
                <ul class="nav-social">
                  <li class="nav-social-item">
                    <a lang="en" class="nav-social-link" href="#">Instagram</a>
                  </li>
                  <li class="nav-social-item">
                    <a lang="en" class="nav-social-link" href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="menu-button"
            aria-expanded="false"
            aria-controls="nav-menu"
            data-menu-button
          >
            <svg
              width="40"
              height="40"
              aria-label="Переключатель мобильного меню"
            >
              <use
                class="icon-menu"
                href="./images/sprite-icon.svg#icon-menu"
              ></use>
              <use
                class="icon-cross"
                href="./images/sprite-icon.svg#icon-cross"
              ></use>
            </svg>
          </button>
        </nav>

        <!-- header-dicription -->
        <div class="header-dicription">
          <h2 lang="en" class="page-header-discription">
            A hair salon for men in Kyiv
          </h2>
          <h1 lang="en" class="page-header-title">BarberShop</h1>

          <p class="page-header-text">
            Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и
            со вкусом.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
