<section>
  <div class="container container-foto">
    <div class="position">
      <p class="word">На латинском языке “барба” означает “борода”</p>
    </div>
    <ul class="galeri">
      <li class="galeri-item">
        <picture>
          <source
            srcset="./images/master-270.webp"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/master-270.jpg"
            media="(min-width: 768px)"
            type="image/jpg"
          />

          <source
            srcset="./images/master-540.webp"
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/master-540.jpg"
            media="(min-width: 480px)"
            type="image/jpg"
          />

          <source srcset="./images/master-270.webp" type="image/webp" />
          <source srcset="./images/master-270.jpg" type="image/jpg" />

          <img src="./images/master-270.jpg" alt="мужская стрижка" />
        </picture>
      </li>
      <li class="galeri-item">
        <picture>
          <source
            srcset="./images/face-270.webp"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/face-270.jpg"
            media="(min-width: 768px)"
            type="image/jpg"
          />

          <source
            srcset="./images/face-540.webp"
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/face-540.jpg"
            media="(min-width: 480px)"
            type="image/jpg"
          />

          <source srcset="./images/face-270.webp" type="image/webp" />
          <source srcset="./images/face-270.jpg" type="image/jpg" />

          <img src="./images/face-270.jpg" alt="стрижка бороды" />
        </picture>
      </li>
      <li class="galeri-item">
        <picture>
          <source
            srcset="./images/preview-270.webp"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/preview-270.jpg"
            media="(min-width: 768px)"
            type="image/jpg"
          />

          <source
            srcset="./images/preview-540.webp"
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/preview-540.jpg"
            media="(min-width: 480px)"
            type="image/jpg"
          />

          <source srcset="./images/preview-270.webp" type="image/webp" />
          <source srcset="./images/preview-270.jpg" type="image/jpg" />

          <img src="./images/preview-270.jpg" alt="косметология" />
        </picture>
      </li>
      <li class="galeri-item">
        <picture>
          <source
            srcset="./images/hair-270.webp"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/hair-270.jpg"
            media="(min-width: 768px)"
            type="image/jpg"
          />

          <source
            srcset="./images/hair-540.webp"
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/hair-540.jpg"
            media="(min-width: 480px)"
            type="image/jpg"
          />

          <source srcset="./images/hair-270.webp" type="image/webp" />
          <source srcset="./images/hair-270.jpg" type="image/jpg" />

          <img src="./images/hair-270.jpg" alt="прическа" />
        </picture>
      </li>
    </ul>
  </div>
</section>
