<!--price-->
<section id="price" class="price-section">
  <div class="container">
    <div class="price-text-box">
      <h2 class="price-text">
        ПРОВЕДИ ВРЕМЯ В КОМПАНИИ ЛУЧШИХ МАСТЕРОВ
      </h2>
    </div>
    <h3 class="price-title">Услуги и цены</h3>
    <div class="price-block">
      <ul class="service1 list">
        <li>
          <span class="service-item">Мужская стрижка</span>
          <span class="service-grn">от 300 грн.</span>
        </li>
        <li>
          <span class="service-item">Стрижка бороды</span>
          <span class="service-grn">от 200 грн.</span>
        </li>
        <li>
          <span class="service-item">Стрижка усов</span>
          <span class="service-grn">от 200 грн.</span>
        </li>
        <li>
          <span class="service-item">Бритье опасной бритвой</span>
          <span class="service-grn">от 200 грн.</span>
        </li>
      </ul>

      <ul class="service2 list">
        <li>
          <span class="service-item">Стрижка у стажера</span>
          <span class="service-grn">от 50 гpн.</span>
        </li>
        <li>
          <span class="service-item">Стрижка под насадку</span>
          <span class="service-grn">от 200 грн.</span>
        </li>
        <li>
          <span class="service-item">Детская стрижка (до 12 лет)</span>
          <span class="service-grn">от 300 грн.</span>
        </li>
        <li>
          <span class="service-item">Камуфлирование седины</span>
          <span class="service-grn">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a href="#booking" class="button-price">ОНЛАЙН-ЗАПИСЬ</a>
  </div>
</section>