<section id="team" class="section team">
  <div class="container">
    <div class="subtitle-box">
      <svg class="icon-rectangle">
        <use href="/images/symbol-defs.svg#icon-Rectangle"></use>
      </svg>
      <h2 class="section-subtitle">для настоящих ценителей атмосферы</h2>
    </div>
    <h3 class="section-title">Наши мастера</h3>
    <ul class="team-card">
      <li class="team-member">
        <picture>
          <source
            srcset="
              /images/john-smith-418.webp    418w,
              /images/john-smith-418@2x.webp 836w,
              /images/john-smith-370.webp    370w,
              /images/john-smith-370@2x.webp 740w,
              /images/john-smith-450.webp    450w,
              /images/john-smith-450@2x.webp 900w
            "
            type="image/webp"
            sizes="(min-width: 768px) 450px, (min-width: 1280px) 370px, 100vw"
          />
          <source
            srcset="
              /images/john-smith-418.jpg    418w,
              /images/john-smith-418@2x.jpg 836w,
              /images/john-smith-370.jpg    370w,
              /images/john-smith-370@2x.jpg 740w,
              /images/john-smith-450.jpg    450w,
              /images/john-smith-450@2x.jpg 900w
            "
            sizes="(min-width: 768px) 450px, (min-width: 1280px) 370px, 100vw"
          />
          <img src="/images/john-smith-418.jpg" alt="John Smith" />
        </picture>
        <h4 lang="en" class="team-name">John Smith</h4>
        <p lang="en" class="team-profession">Extreme Barber</p>
        <div class="social-box">
          <ul class="team-social">
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-member">
        <picture>
          <source
            srcset="
              /images/michele-doe-418.webp    418w,
              /images/michele-doe-418@2x.webp 836w,
              /images/michele-doe-370.webp    370w,
              /images/michele-doe-370@2x.webp 740w,
              /images/michele-doe-450.webp    450w,
              /images/michele-doe-450@2x.webp 900w
            "
            type="image/webp"
            sizes="(min-width: 768px) 450px, (min-width: 1280px) 370px, 100vw"
          />
          <source
            srcset="
              /images/michele-doe-418.jpg    418w,
              /images/michele-doe-418@2x.jpg 836w,
              /images/michele-doe-370.jpg    370w,
              /images/michele-doe-370@2x.jpg 740w,
              /images/michele-doe-450.jpg    450w,
              /images/michele-doe-450@2x.jpg 900w
            "
            sizes="(min-width: 768px) 450px, (min-width: 1280px) 370px, 100vw"
          />
          <img src="/images/michele-doe-418.jpg" alt="Michele Doe" />
        </picture>
        <h4 lang="en" class="team-name">Michele Doe</h4>
        <p lang="en" class="team-profession">Extreme Barber</p>
        <div class="social-box">
          <ul class="team-social">
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-member">
        <picture>
          <source
            srcset="
              /images/alan-black-418.webp    418w,
              /images/alan-black-418@2x.webp 836w,
              /images/alan-black-370.webp    370w,
              /images/alan-black-370@2x.webp 740w,
              /images/alan-black-450.webp    450w,
              /images/alan-black-450@2x.webp 900w
            "
            type="image/webp"
            sizes="(min-width: 768px) 450px, (min-width: 1280px) 370px, 100vw"
          />
          <source
            srcset="
              /images/alan-black-418.jpg    418w,
              /images/alan-black-418@2x.jpg 836w,
              /images/alan-black-370.jpg    370w,
              /images/alan-black-370@2x.jpg 740w,
              /images/alan-black-450.jpg    450w,
              /images/alan-black-450@2x.jpg 900w
            "
            sizes="(min-width: 768px) 450px, (min-width: 1280px) 370px, 100vw"
          />
          <img src="/images/alan-black-418.jpg" alt="Alan Black" />
        </picture>
        <h4 lang="en" class="team-name">Alan Black</h4>
        <p lang="en" class="team-profession">Extreme Barber</p>
        <div class="social-box">
          <ul class="team-social">
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#">
                <svg class="social-icon">
                  <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
