.container-about {
  margin-left: auto;
  margin-right: auto;
  // padding-left: 31px;
  // padding-right: 31px;
  padding-top: 84px;
  padding-bottom: 84px;

  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    display: flex;
    width: 768px;
    // padding-left: 39px;
    // padding-right: 39px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1200px) {
    width: 1200px;
    // padding-left: 55px;
    // padding-right: 91px;
    padding-right: 35px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.about-picture {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    margin-right: 30px;
    & img {
      max-width: 330px;
      margin-bottom: 30px;
    }
  }
  @media (min-width: 1200px) {
    display: flex;
    margin-right: 34px;
    & img {
      max-width: 270px;

      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.about-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary-title-color;
  padding-left: 80px;
  margin-bottom: 20px;
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 60px;
    background: $primary-title-color;
    transform: rotate(90deg);
    @media (max-width: 480px) {
      left: 31px;
      top: -23px;
    }
    @media (min-width: 480px) {
      left: 31px;
      top: -23px;
    }
  }
}
.about-title {
  font-family: $title-font-family;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $primary-title-color;
  margin-bottom: 20px;
  @media (min-width: 480px) {
    font-size: 28px;
    line-height: 33px;
  }
  @media (min-width: 1200px) {
    font-size: 42px;
    line-height: 49px;
  }
}
.about-text {
  max-width: 418px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  @media (min-width: 480px) {
    font-size: 16px;
    line-height: 26px;
  }
  @media (min-width: 768px) {
    max-width: 330px;
  }
  @media (min-width: 1200px) {
    max-width: 500px;
    font-size: 18px;
    line-height: 30px;
  }
}
.about-desc {
  max-width: 418px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    max-width: 330px;
  }
  @media (min-width: 1200px) {
    max-width: 500px;
  }
}
.about-button {
  width: 160px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $primary-title-color;
  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #ffffff;
  &:hover {
    background: $accent-color;
    color: #ffffff;
    cursor: pointer;
  }
  &:focus {
    background: $accent-color;
    color: #ffffff;
  }
}
