.list {
  list-style: none;
  margin: 0px;
}

.price {
  &-section {
    width: 100%;
    background-image: url('../images/price-images/imgmob1.png'),
      linear-gradient(to right, $background-color, $background-color);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      width: 480px;
      background-image: url('../images/price-images/imgmob1.png'),
        linear-gradient(to right, $background-color, $background-color);

      @media screen and (min-resolution: 2dppx) {
        background-image: url('../images/price-images/imgmob2.png'),
          llinear-gradient(to right, $background-color, $background-color);
      }
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      background-image: url('../images/price-images/imgtabl1.png'),
        linear-gradient(to right, $background-color, $background-color);

      @media screen and (min-resolution: 2dppx) {
        background-image: url('../images/price-images/imgtabl2.png'),
          linear-gradient(to right, $background-color, $background-color);
      }
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      min-width: 1200px;
      // max-width: 1280px;
      background-image: url('../images/price-images/imgdesk1.png'),
        linear-gradient(to right, $background-color, $background-color);

      @media screen and (min-resolution: 2dppx) {
        background-image: url('../images/price-images/imgdesk2.png'),
          linear-gradient(to right, $background-color, $background-color);
      }
    }

    @media screen and (min-width: 1280px) {
      width: 1280px;
      background-image: url('../images/price-images/imgdesk1.png'),
        linear-gradient(to right, $background-color, $background-color);

      @media screen and (min-resolution: 2dppx) {
        background-image: url('../images/price-images/imgdesk2.png'),
          linear-gradient(to right, $background-color, $background-color);
      }
    }
  }

  &-section .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 84px 15px;

    @media screen and (min-width: 480px) {
      width: 480px;
      padding: 84px 31px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 100px 39px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      padding: 130px 15px;
    }
    @media screen and (min-width: 1280px) {
      padding: 130px 35px;
    }
  }

  &-text-box {
    position: relative;
  }

  &-text {
    position: relative;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    padding-left: 80px;
    padding-bottom: 20px;
    color: $special-text-color;
  }

  &-text::before {
    content: '';
    display: block;
    position: absolute;
    top: 5.5px;
    left: 0px;
    width: 60px;
    height: 1px;
    z-index: 5;
    background-color: $special-text-color;
  }

  &-title {
    font-family: $title-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.17;
    color: $text-color;
    margin-bottom: 44px;
    text-align: left;
  }

  &-block {
    margin-bottom: 50px;
    padding-bottom: 0px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

    @media screen and (min-width: 480px) {
      width: 418px;
    }

    @media screen and (min-width: 768px) {
      width: 690px;
      height: 440px;
    }

    @media screen and (min-width: 1200px) {
      width: 1170px;
      height: 240px;
      display: flex;
    }
  }
}

.service {
  &1,
  &2 {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.67;
    color: $secondary-text-color;
    margin: 0px;

    li {
      display: block;
      position: relative;
      overflow: hidden;
      padding-bottom: 20px;

      @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.67;
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        height: 22px;
        border-bottom: 1px solid rgba(157, 164, 189, 0.12);
      }
    }
  }

  &1 {
    @media screen and (max-width: 380px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    padding: 30px 40px 0px 40px;
    @media screen and (min-width: 1200px) {
      width: 585px;
      height: 240px;
      background: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
    }
  }

  &2 {
    @media screen and (max-width: 380px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    padding: 0px 40px 30px 40px;
    @media screen and (min-width: 1200px) {
      width: 585px;
      height: 240px;
      padding-top: 30px;
      background: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }

  &-item {
    display: block;
    float: left;
    z-index: 2;
    padding-right: 2px;
  }

  &-grn {
    display: block;
    float: right;
    z-index: 2;
    padding-left: 2px;
  }
}

.service2 li:last-child {
  padding-bottom: 0px;
}

.button-price {
  background-color: inherit;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: $text-color;
  width: 160px;
  height: 40px;
  cursor: pointer;
  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
