.container-foto {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 84px 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 84px 15px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 130px 15px;
  }
}

// .transparent {
//   margin: 0;
//   height: 0;
//   color: transparent;
// }

.position {
  position: relative;
  margin-left: 0;
}

.word {
  position: relative;
  margin-bottom: 44px;
  padding-left: 80px;
  text-transform: uppercase;
  color: $primary-title-color;
  font-family: Open Sans, sans-serif;
  font-weight: 600px;
  font-size: 11px;
  line-height: 1.9;
  max-width: 315px;
  //   @media screen and (max-width: 360px) {
  //     max-width: 315px;
  //   }
  //   @media screen and (max-width: 450px) {
  //     line-height: 1.9;
  //     max-width: 315px;
  //     width: 315px;
  //   }
  @media screen and (min-width: 768px) {
    line-height: 1.36;
    max-width: 450px;
    width: 450px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    left: 0;
    background-color: $primary-title-color;
    top: 10px;

    // @media screen and (max-width: 417px) {
    //   top: 10px;
    // }

    // @media screen and (min-width: 418px) {
    //   top: 50%;
    // }
    @media screen and (min-width: 768px) {
      top: 50%;
    }
  }
}

.galeri {
  padding-left: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  //   display: flex;
  //   justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.galeri-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 418px;
  object-fit: cover;
  & img {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
  }

  //   @media screen and (min-width: 480px) {
  //     & img {
  //       width: 100%;
  //       max-height: 360px;
  //       object-fit: cover;
  //     }
  //   }

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (max-width: 1199px) {
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 1199px) {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
