.section {
  &-subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $primary-title-color;
  }
  &-title {
    padding-left: 31px;
    margin-bottom: 44px;
    font-family: $title-font-family;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05rem;
    color: $primary-title-color;
    @media screen and (min-width: 768px) {
      padding-left: 159px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 55px;
    }
  }
}
.team {
  background-color: $copyright-bg-color;
}
.team {
  &-name {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02rem;
    color: $primary-title-color;
  }
  &-profession {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02rem;
    color: $accent-color;
  }
  &-member {
    &:not(:last-child) {
      margin-bottom: 86px;
    }
    max-width: 418px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 768px) {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 3);
      margin: 15px;
    }
  }
  ul.team-card {
    // padding: 0 31px;
    @media screen and (min-width: 768px) {
      // padding: 0 159px;
    }
    @media screen and (min-width: 1200px) {
      // padding: 0 55px;
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &-social {
    @extend %flex-center;
  }
}
.social {
  &-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-link {
    @extend %flex-center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;

    background-color: $text-color;
  }
  &-icon {
    width: 20px;
    height: 20px;
    text-align: center;
  }
}
.social-link,
.social-icon {
  fill: $primary-title-color;
  .social-item:hover &,
  .social-item:focus-within & {
    fill: $accent-color;

    transition: transform $transition;
  }
}
.icon-rectangle {
  display: block;
  margin-right: 20px;
  max-width: 60px;
  width: 100%;
  height: 1px;
  fill: $primary-title-color;
}
.subtitle-box {
  @extend %flex-center;
  margin-bottom: 35px;
  @media screen and (min-width: 768px) {
    margin-left: 159px;
    margin-bottom: 20px;
    justify-content: start;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 55px;
    margin-bottom: 20px;
  }
}
